[Desktop Entry]
Encoding=UTF-8
Name=Helix
Comment=Helix P2P Cryptocurrency
Comment[fr]=Helix, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Helix, eşten eşe kriptografik sanal para birimi
Exec=helix-qt %u
Terminal=false
Type=Application
Icon=helix128
MimeType=x-scheme-handler/helix;
Categories=Office;Finance;
